# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Django
db.sqlite3
media/

# Node
node_modules/
.next/
npm-debug.log

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.env

.venv
