@import "tailwindcss";

:root {
  --background: #f4e8d6;
  --foreground: #1f4d3a;
  --cce-green-dark: #1f4d3a;
  --cce-mustard: #f4b400;
  --cce-beige: #f4e8d6;
  --cce-text-muted: #49685b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--cce-beige);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
